.idea/
.vs/
Binaries/
Build/
Content/__ExternalActors__/
Content/__ExternalObjects__/
Config/HoloLens/
DerivedDataCache/
Intermediate/
Plugins/
Saved/
.gitignore.bak
/COMPOSUREDETAILCUSTOMIZATIONS.ipch
/DISPLAYCLUSTERCONFIGURATORBLUEPRINTEDITOR.ipch
